<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer" class="footer footer-horizontal p-10 bg-neutral text-neutral-content">
    <div class="w-full">
        <span class="footer-title text-2xl font-bold">Stylo</span>
        <p class="mt-4">최고의 패션 쇼핑 경험을 제공하는 Stylo입니다.</p>
        <div class="flex gap-4 mt-6 justify-around">
            <a href="#" class="btn btn-ghost btn-circle">
                <i data-lucide="facebook" class="h-6 w-6"></i>
            </a>
            <a href="#" class="btn btn-ghost btn-circle">
                <i data-lucide="instagram" class="h-6 w-6"></i>
            </a>
            <a href="#" class="btn btn-ghost btn-circle">
                <i data-lucide="twitter" class="h-6 w-6"></i>
            </a>
        </div>
        <div class="w-full text-end">
            <p>&copy; 2025 Stylo. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>
