@import "tailwindcss" source(none);
@source "../../templates/**/*.{html,js}";
@plugin "daisyui" {
    themes: all;
}

/* Number input 스피너 숨기기 */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}